@keyframes pulse{
    0%{scale: 1;}
    20%{scale: 0.75;}
    50%{scale: 1.25;}
    80%{scale: 0.75;}
    100%{scale: 1;}
}
#first{
    width: 100vw;

}
#table{
    width: 100%;
    font-size: 24px;
}
.row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25vh;
}
.cell{
    display: flex;
    width: 33%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
}
.cell > img{
    width: 90%;
    height: 90%;
}

.info{
    display: none;
    width: 18vw;
    height: 90%;
    background-image: url("../img/sn.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.cell:hover{
    background-color: #3a3af8;
}
.cell:hover > .info{
    display: flex;
    align-items: center;
    justify-content: center;
}
._info{
    width: 60%;
    text-align: center;
}
.cell:hover > img{
    animation: pulse 3s linear 0s infinite;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    width:100%;
    height: 25vh;
}
#tableAlt{
    display: none;
}

@media (max-width: 1050px) {
    
    .cell:hover > img{
    display: none;
    }
    .cell:hover > .info{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 500px) {
    
    #tableAlt{
        display: block;
    }
    #tableWindow{
        display: none;
    }
    .cell{
        width: 50%;
    }
}