@import url(titleScreen.css);
@import url(firstScreen.css);
@import url(secondScreen.css);
@import url(window.css);

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: unset;
}

